.top-10-container img{
 width: 100%;
 height: auto;
}

@media (max-width: 768px){
 .top-10-titles{
  font-size: 20px;
 }
 .top-10-p{
  font-size: 12px;
 }
}

@media (max-width: 576px){
 .top-10-container img{
  width: 50%;
  height: auto;
 }
}

@media (max-width: 380px){
 .top-10-container img{
  width: 100%;
  height: auto;
 }
}